.card {
    border: 1px solid black;
    display: flex;
    
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__text {width: 80%;}
    &__image {
        width: 20%;

        img {
            width: 3vw;
        }
    }
}