@use "../../../assets/sass/_variables.scss" as *;

// styles for each individual beer card
.card {
    border-radius: 20px;
    display: flex;
    margin: 10px;
    max-height: 47vh;
    background-color: $secondary-background;
    color: $primary-text-colour;
    
    &__text {
        margin: 10%;
        overflow-y: auto; // only add scrollbar if needed
        
        &-heading {text-align: center;}

        &-description {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        
        h3, b {color: $secondary-text-colour;}
        
        p {margin-top: 10px; font-size: small;}
        
        &-image {
            display: flex;
            justify-content: center;
            
            img {width: 3vw;}
        }
    }
}

// handling responsiveness for beer card
@media screen and (max-width: 700px) {
    .card {
        &-text {
            &-image {
                img {width: 7vw;}
            }
        }
    }
}