.card {
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    margin: 10px;
    max-height: 45vh;
    
    &__text {
        margin: 10%;
        overflow-y: auto; // only add scrollbar if needed
        
        &-heading {text-align: center;}
        
        &-description {
            display: flex;
            align-items: center;
            gap: 10px;
            
            section {p {margin-top: 10px;}}
        }
        
        &-image {
            width: 20%;
            
            img {width: 3vw;}
        }
    }
}

@media screen and (max-width: 700px) {
    .card {
        &-text {
            &-image {
                img {width: 7vw;}
            }
        }
    }
}