* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  display: flex;
  align-items: center;
  height: 100vh;
}

@media screen and (max-width: 992px) {
  .App {
    flex-direction: column;
  }
}

@media screen and (max-height: 1185px) {
  .App {
      top: 20%;
  }
}