* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  display: flex;
  align-items: center;
  height: 100vh;

  .navbar {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
}
}

@media screen and (max-width: 992px) {
  .App {
    flex-direction: column;

    .navbar {justify-content: center;}
  }
}
@media screen and (max-height: 1185px) {.App {top: 20%;}}