@use "./assets/sass/_variables.scss" as *;

// universal reset rule
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font;
}

// general page styles
.App {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: $primary-background;
  background: $primary-background-gradient;
  
  // side navbar styles
  .navbar {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
    color: $primary-text-colour;
  }
}

// handling responsiveness for entire page (including navbar)
@media screen and (max-width: 992px) {
  .App {
    flex-direction: column;

    .navbar {justify-content: center;}
  }
}
@media screen and (max-height: 1185px) {.App {top: 20%;}}